---
title: Peer Reviews from the Fraser Lab
layout: default
group: reviews
---

<h1>Peer Review</h1>
<div class="container-fluid">

{% for review in site.reviews reversed %}
	<hr>
	<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{review.date}}">
	<div><h5>{{ review.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}.<br></h5>
	<h6>{{ review.authors | markdownify | remove: '<p>' | remove: '</p>' | strip}}.</h6><br>
	Reviewed by: <strong>{{ review.reviewers | markdownify | remove: '<p>' | remove: '</p>' | strip }}.</strong><br><br>
	</div>
	{% if review.abstract %}
	<div>{{ review.abstract | markdownify | remove: '<p>' | remove: '</p>' }}</div>
	{% endif %}
	<br>
	</div>

	<div class="row" style="padding-top: 20px; margin-top: -20px">
		<div class="col">
			{% if review.image %}
			<img class = "img-fluid" src = "{{review.image}}" alt = "Representative Image" style="max-height: 250px;; margin-right: 30px">
			{% endif %}
		</div>
		<ul class="col">
			<h5>Peer Review</h5>
			{% for record in review.peer-review %}
				<!--Biorxiv-->
				{% if record.biorxiv %}
				<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{record.biorxiv}}" alt = "biorxiv preprint link: {{record.biorxiv}}">{{record.biorxiv | split: "." | last }}</a></li>
				{% endif %}

				<!--Biorxiv specific version-->
				{% if record.biorxiv_version %}
				<li>Biorxiv Preprint v{{record.biorxiv_version | split: "." | last | split: "v" | last }}: <a href="http://www.biorxiv.org/content/10.1101/{{record.biorxiv_version}}" alt = "biorxiv preprint link: {{record.biorxiv_version}}">{{record.biorxiv_version | split: "." | last | split: "v" | first }}</a></li>
				{% endif %}

				<!--Arxiv-->
				{% if record.arxiv %}
				<li>arXiv Preprint: <a href="https://arxiv.org/abs/{{record.arxiv}}" alt = "arxiv preprint link: {{record.arxiv}}">{{record.arxiv}}</a></li>
				{% endif %}

				<!--prereview.org -->
				{% if record.prereview %}
				<li>PREreview.org: <a href="https://www.prereview.org/preprints/{{record.prereview}}" alt = "prereview.org preprint link: {{record.prereview}}">{{record.prereview}}</a></li>
				{% endif %}

				<!--Chemrxiv-->
				{% if record.chemrxiv %}
				<li>ChemRxiv Preprint: <a href=" https://doi.org/10.26434/chemrxiv.{{record.chemrxiv}}" alt = "chemrxiv preprint link: {{record.chemrxiv}}">{{record.chemrxiv}}</a></li>
				{% endif %}

				<!--Preprints.org -->
				{% if record.preprintsorg %}
				<li>Preprints.org: <a href="https://www.preprints.org/manuscript/{{record.preprintsorg}}" alt = "preprints.org preprint link: {{record.preprintsorg}}">{{record.preprintsorg}}</a></li>
				{% endif %}


				<!--Disqus comment-->
				{% if record.disqus %}
				<li>Review: <a href="http://disq.us/p/{{record.disqus}}" alt = "link to review as Disqus comment: {{record.disqus}}">{{record.disqus}}</a></li>
				{% endif %}

				<!--zenodo record-->
				{% if record.zenodo %}
				<li>Zenodo Record: <a href="https://www.zenodo.org/record/{{record.zenodo}}" alt = "link to review as zenodo PDF: {{record.zenodo}}">{{record.zenodo}}</a></li>
				{% endif %}

				{% if record.pdf %}
				<li>Review: <a href="{{record.pdf}}" alt="link to full review text: {{record.pdf}}">Full Text</a></li>
				{% endif %}

			{% endfor %}
		</ul>
		<ul class="col">
		{% if review.published %}
			<h5>Post-Review</h5>
			<h6>Access the paper</h6>
			{% for record in review.published %}
				{% if record.pmid %}
				<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{record.pmid}}" alt = "pubmed link: {{record.pmid}}">{{record.pmid}}</a></li>
				{% endif %}
				{% if record.pdf %}
				<li><a href="{{record.pdf}}" alt="link to full text: {{record.pdf}}">Full Text</a></li>
				{% endif %}
			{% endfor %}

			{% if review.highlight %}
				<br><h6>Highlight</h6>
				{% for record in review.highlight %}
					<!--Article Title-->
					{% if record.title %}
						<li>{{record.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}.</li>
					{% endif %}

					<!--Authors-->
					{% if record.authors %}
						{{record.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }}.
					{% endif %}

					<!--Journal-->
					{% if record.journal %}
						<i>{{record.journal}}.</i>
					{% endif %}

					<!--Publication Date-->
					{% if review.date %}
						{{review.date | split: "-" | first }}.
					{% endif %}
					<br>

					<!--Zenodo Record-->
					{% if record.zenodo %}
					<li>Zenodo Record: <a href="https://www.zenodo.org/record/{{record.zenodo}}" alt = "link to review as zenodo: {{record.zenodo}}">{{record.zenodo}}</a></li>
					{% endif %}

					<!--PDF-->
					{% if record.pdf %}
					<li><a href="{{record.pdf}}" alt="link to full text: {{record.pdf}}">Full Text</a></li>
					{% endif %}

				{% endfor %}
			{% endif %}
		{% endif %}
		</ul>
	</div>
	<br>
{% endfor %}
</div>
