---
title: Article Reviews from the Fraser Lab
layout: default
group: reviews
---

<h1>Reviews</h1>
<div class="container-fluid">

{% for review in site.reviews reversed %}
	<hr>
	<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{review.date}}">
	<div style="font-size: 120% !important; width: 100%">{{ review.title | markdownify }}</div>
	{% if review.abstract %}
	<div><{{ review.abstract | markdownify }}</div>
	{% endif %}
	</div>

	<div class="row" style="padding-top: 20px; margin-top: -20px;">
		<ul class="col-sm-6">
			<strong>Article</strong>
			<!--each field optional, just make sure you specify at least one-->
			<!--PMID-->
			{% if review.article_pmid %}
			<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{review.article_pmid}}" alt = "pubmed link: {{review.article_pmid}}"> {{review.article_pmid}}</a></li>
			{% endif %}

			<!--PMCID-->
			{% if review.article_pmcid %}
			<li>PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{review.article_pmcid}}" alt = "pubmed central link: {{review.article_pmcid}}"> {{review.article_pmcid}}</a></li>
			{% endif %}

			<!--Biorxiv-->
			{% if review.article_biorxiv %}
			<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{review.article_biorxiv}}" alt = "biorxiv preprint link: {{review.article_biorxiv}}"> {{review.article_biorxiv | split: "." | last }}</a></li>
			{% endif %}

			<!--Arxiv-->
			{% if review.article_arxiv %}
			<li>arXiv Preprint: <a href="https://arxiv.org/abs/{{review.article_arxiv}}" alt = "arxiv preprint link: {{review.article_arxiv}}"> {{review.article_arxiv}}</a></li>
			{% endif %}

			<!--Chemrxiv-->
			{% if review.article_chemrxiv %}
			<li>ChemRxiv Preprint: <a href=" https://doi.org/10.26434/chemrxiv.{{review.article_chemrxiv}}" alt = "chemrxiv preprint link: {{review.article_chemrxiv}}"> {{review.article_chemrxiv}}</a></li>
			{% endif %}

			<!--Preprints.org -->
			{% if review.article_preprintsorg %}
			<li>Preprints.org Preprint: <a href=" https://www.preprints.org/manuscript/{{review.article_preprintsorg}}" alt = "preprints.org preprint link: {{review.article_preprintsorg}}"> {{review.article_preprintsorg}}</a></li>
			{% endif %}

			<!-- PDF -->
			<li><a href="{{review.article_pdf}}" alt = "PDF"> Full Text</a></li>

			<!--zenodo record-->
			{% if review.article_zenodo %}
			<li>Zenodo Record{% if review.article_zenodo.size > 1 %}s{% endif %}:
				{% for record in review.article_zenodo %}
				<a href="https://www.zenodo.org/record/{{record.code}}/">{{record.code}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</li>
			{% endif %}

			<!--Github-->
			{% if review.article_github %}
			<li>{% if review.article_github.size > 1 %}GitHub Repositories:{%else%}GitHub Repository:{% endif %}
			{% for record in review.article_github %}
			<a href="https://www.github.com/{{record.url}}/">{{record.url}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</li>
			{% endif %}

			<!--additional links-->
			{% if review.article_links %}
			<br>
			<strong>Additional Link{% if review.article_links.size > 1 %}s{% endif %}</strong>
				{% for link in review.article_links %}
				<li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
		<ul class="col-sm-6">
			<strong>Review</strong>
			<!--Disqus comment-->
			{% if review.disqus %}
			<li>Review as Comment: <a href="http://disq.us/p/{{review.disqus}}" alt = "link to review as comment: {{review.disqus}}"> {{review.disqus}}</a></li>
			{% endif %}

			<!-- PDF -->
			{% if review.pdf %}
			<li><a href="{{review.pdf}}" alt = "PDF"> Review Full Text</a></li>
			{% endif %}

			<!--additional links-->
			{% if review.links %}
			<br>
			<strong>Additional Link{% if review.links.size > 1 %}s{% endif %}</strong>
				{% for link in review.links %}
				<li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<br>
{% endfor %}
</div>
			