<h2>Contact Us</h2>
<p>
James Fraser, Ph.D. <br>
Professor <br>
Department of Bioengineering and Therapeutic Sciences <br>
California Institute of Quantitative Biosciences (QB3) <br>
<br>
email: jfraser (at) fraserlab.com <br>
<br>
Genentech Hall Room S472E (Office), S476 (Lab) <br>
UCSF Mail Code 2240 <br>
600 16th Street <br>
San Francisco, CA 94158 <br>
</p>

<p>
 <h3> Interested in joining the Fraser lab? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>

<p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
