    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/fraser-lab/fraser-lab.github.io" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/popper.min.js" defer></script>
    <script src="/static/js/bootstrap.min.js" defer></script>
    <script src="/static/js/parallax.min.js" defer></script>
  </body>
</html>
