    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/KAIST-MIC-Lab/KAIST-MIC-Lab.github.io?tab=readme-ov-file" target="_blank"><b>GitHub</b></a>.
        This original work is available on <a href="https://fraserlab.com/2020/05/03/Clone-this-website/" target="_blank"><b>Fraser Lab</b></a>.
        Maintained by <a href="https://kaist-mic-lab.github.io/members/msRyu/"><b>Myeongseok</b></a>.
        </p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>
