{% assign sorted = filtered | sort: "pub_date" | reverse %}

    {% assign last_year = "" %}

<ol | reversed>
{% for publication in sorted %}

    {% assign year = publication.pub_date | date: "%Y" %}
    {% if year != last_year %}
    <br>
        <h6 style="text-align: center; color: rgb(0, 0, 111);">
            <b>
                {{ year }}
            </b>
        </h6>
        {% assign last_year = year %}
    {% endif %}
    

    <li>
        <h8>
            <b>
                <a href="{{ publication.url }}">{{ publication.title }}</a>
                {% if publication.domestic_or_international contains "Domestic" %}
                        <br>
                        <i>{{ publication.krtitle }}</i>
                {% endif %}
            </b>
        </h8>
        <br>
        <h8>
            {{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}
        </h8>
        <br>
        <h8>
            {% assign pub = publication.pubs | last %}
            <b>{{ pub.name }}</b>{% if pub.vol %}, vol. {{ pub.vol }}{% endif %}{% if pub.no %}, no. {{ pub.no }}{% endif %}{% if pub.pp %}, pp. {{ pub.pp }}{% endif %}{% if pub.year %}, {{ pub.year }}{% endif %}
            
            {% if pub.doi %}
                <a href="https://doi.org/{{ pub.doi }}" title = "DOI: {{pub.doi}} (opens in new tab)" target="_blank">[Online]</a>
            {% endif %}
            {% if pub.pdf %}
                <a href="{{pub.pdf}}" title = "PDF for {{publication.title}} (opens in new tab)" target="_blank">[PDF]</a>
            {% endif %}
            {% if pub.bib %}
                <a href="{{pub.bib}}" title = "BibTex for {{publication.title}} (opens in new tab)" target="_blank">[Cite]</a>
            {% endif %}
        </h8>
    </li>

{% endfor %}
</ol>
<hr>
