<!-- Only publications by of Target name -->
<!-- assign author name in targetName -->

 <!-- TODO: Add patent information -->

<!-- Filtering -->
{% assign preprint = "" | split: "" %}
{% assign underReview = "" | split: "" %}
{% assign intJour = "" | split: "" %}
{% assign intConf = "" | split: "" %}
{% assign domJour = "" | split: "" %}
{% assign domConf = "" | split: "" %}
{% assign diss = "" | split: "" %}
{% assign thes = "" | split: "" %}

{% for pub in site.publications %}
	
	{% if pub.authors contains {{targetName}} %}
		
		<!-- Not Preprint -->
		{% if pub.pub %}

			{% assign pub_info = pub.pub | last %}

			<!-- Papers Under Review -->
			{% if pub_info.state contains "submitted" or pub_info.state contains "accepted" %}
				{% assign underReview = underReview | push: pub %}

			<!-- Domestic or International -->
			{% elsif pub.domestic_or_international == "International" and pub.type contains "Journal Paper" %}
				{% assign intJour = intJour | push: pub %}
			{% elsif pub.domestic_or_international == "International" and pub.type contains "Conference Paper" %}
				{% assign intConf = intConf | push: pub %}
			{% elsif pub.domestic_or_international == "Domestic" and pub.type contains "Journal Paper" %}
				{% assign domJour = domJour | push: pub %}
			{% elsif pub.domestic_or_international == "Domestic" and pub.type contains "Conference Paper" %}
				{% assign domConf = domConf | push: pub %}

			<!-- Dissertation or Thesis -->
			{% elsif pub.type contains "Ph.D. Dissertation" %}
				{% assign diss = diss | push: pub %}
			{% elsif pub.type contains "Master's Thesis" %}
				{% assign thes = thes | push: pub %}
			{% endif %}

		{% else %}
			<!-- Preprint -->
			{% assign preprint = preprint | push: pub %}
		{% endif %}
	{% endif %}
{% endfor %}

<br>
<h4>Quick Links</h4>

	{% if underReview.size > 0 %}
		<li><a href="#Papers Under Review">Papers Under Review ({{ underReview.size }})</a></li>
	{% endif %}
	{% if intJour.size > 0 %}
		<li><a href="#International Journal Paper">International Journal Papers ({{ intJour.size }})</a></li>
	{% endif %}
	{% if intConf.size > 0 %}
		<li><a href="#International Conference Paper">International Conference Papers ({{ intConf.size }})</a></li>
	{% endif %}
	{% if domJour.size > 0 %}
		<li><a href="#Domestic Journal Paper">Domestic Journal Papers ({{ domJour.size }})</a></li>
	{% endif %}
	{% if domConf.size > 0 %}
		<li><a href="#Domestic Conference Paper">Domestic Conference Papers ({{ domConf.size }})</a></li>
	{% endif %}
	{% if diss.size > 0 %}
		<li><a href="#Ph.D. Dissertation">Ph.D. Dissertations ({{ diss.size }})</a></li>
	{% endif %}
	{% if thes.size > 0 %}
		<li><a href="#Master's Thesis">Master's Theses ({{ thes.size }})</a></li>
	{% endif %}
	{% if preprint.size > 0 %}
		<li><a href="#Preprint">Preprints ({{ preprint.size }})</a></li>
	{% endif %}

<hr>
<br>



{% if underReview.size > 0 %}
	<h4 id="Papers Under Review">Papers Under Review</h4>
	{% assign data = underReview %}
	{% include publication_sort_year.html %}
{% endif %}

{% if intJour.size > 0 %}
	<h4 id="International Journal Paper">International Journal Papers</h4>
	{% assign data = intJour %}
	{% include publication_sort_year.html %}
{% endif %}

{% if intConf.size > 0 %}
	<h4 id="International Conference Paper">International Conference Papers</h4>
	{% assign data = intConf %}
	{% include publication_sort_year.html %}
{% endif %}

{% if domJour.size > 0 %}
	<h4 id="Domestic Journal Paper">Domestic Journal Papers</h4>
	{% assign data = domJour %}
	{% include publication_sort_year.html %}
{% endif %}

{% if domConf.size > 0 %}
	<h4 id="Domestic Conference Paper">Domestic Conference Papers</h4>
	{% assign data = domConf %}
	{% include publication_sort_year.html %}
{% endif %}

{% if diss.size > 0 %}
	<h4 id="Ph.D. Dissertation">Ph.D. Dissertations</h4>
	{% assign data = diss %}
	{% include publication_sort_year.html %}
{% endif %}

{% if thes.size > 0 %}
	<h4 id="Master's Thesis">Master's Theses</h4>
	{% assign data = thes %}
	{% include publication_sort_year.html %}
{% endif %}

{% if preprint.size > 0 %}
	<h4 id="Preprint">Preprints</h4>
	{% assign data = preprint %}
	{% include publication_sort_year.html %}
{% endif %}