<h3>Contact Us</h3>
<p>
James Fraser, Ph.D. <br>
Professor <br>
Department of Bioengineering and Therapeutic Sciences <br>
California Institute of Quantitative Biosciences (QB3) <br>
<br>
email: jfraser (at) fraserlab.com <br>
tel (office): 415 502 1863 <br>
tel (lab): 415 502 3488 <br>
<br>
600 16th Street <br>
Genentech Hall S472E (office), S476 (lab) <br>
UCSF Mail Code 2240 <br>
San Francisco, CA 94158 <br>
</p>

<p>
 <h3> Interested in joining the Fraser lab? </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>

<p>
 <h3> See our <a href="{{ site.url }}/compact/">lab compact and philosophy</a> </h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
