---
title: Fraser Lab Members
layout: members
group: members
---

<h1>Fraser Lab Members</h1>

The Fraser lab welcomes people of any race, religion, national origin, gender identity, caregiver and family commitments, political affiliation, sexual orientation, and eligible age or ability.<br>
<h5>See our<a href="/compact/"> lab compact and philosophy</a>.</h5>

{% for member in site.members %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position}} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/profile/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>
