---
title: MIC Lab Members
layout: default
group: members
---

<div   style="max-width: 800px; margin: auto;">
<!-- <div class="container-fluid"> -->
<h1>MIC Lab Members</h1>

{% assign Positions = "Ph.D. Student|Master Student|Visiting Researcher|Intern" | split: "|" %}
<hr>

<br>
<h4>Quick Links</h4>
{% for position in Positions %}
<li><a href="#{{ position }}">{{ position }}</a></li>
{% endfor %}
<hr>
<br>

{% for position in Positions %}

{% assign sorted = site.members | where: "position", position | sort: "startdate" %}

  <div id = "{{ position }}">
  <h4>{{ position }}</h4>
  <hr>
  <div>

  {% assign filtered = "" | split: "" %}
  {% for member in sorted %}
    {% if member.enddate == empty or member.startdate.size != member.enddate.size %}
      {% assign filtered = filtered | push: member %}
    {% endif %}
  {% endfor %}


  {% if filtered.size > 0 %}
    <ul>
      {% for member in filtered %}
        {% unless member.enddate == empty or member.startdate.size != member.enddate.size %}
          {% continue %}
        {% endunless %}

        {% if member.position contains "Affiliate" %}
          {% continue %}
        {% endif %}
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
          <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>

                <a href="{{ member.url }}" title = "More about {{member.name}} " target="_blank"><strong>{{member.name}}</strong></a>
                <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em><a href="mailto:{{member.email}}">{{member.email}}</a></em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/logo/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> {% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}'s Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.bsky %}
                  <a href="https://bsky.app/"><img class="inline-bloc mem-icon" src="/static/img/logo/bsky_logo.svg"></a>
                  <a href= "https://bsky.app/profile/{{member.bsky}}"> {{member.bsky}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {{member.description | markdownify}}
              
                Additional information and publications can be found <a href="{{ member.url }}" title = "More about {{member.name}} (opens in new tab)" target="_blank">here</a>.
          </div>

        </div>
        
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      We currently have no {{ position }}s in the lab.
    </p>
  {% endif %}
{% endfor %}
</div>


{% comment %}
<div>
{% assign stretch = 200 %}
{% assign yheight = 16 %}
{% assign yspacing = 18 %}
{% assign fontsize = 12 %}
{% assign yearoffset = 2023 %}
{% assign majortick = 0.05 %}
{% assign minortick = 0.025 %}
{% assign legendboxsize = 10 %}
{% assign legendboxspacing = 14 %}
<!-- {% assign people = site.members | concat: site.alumni | sort: "startdate" %} -->
 {% assign people = site.members | sort: "startdate" %}
{% assign finalyear = "now" | date: "%Y" | plus: 1 %}
<?xml version="1.0" encoding="UTF-8" ?>
<svg width="100%" height="auto" viewBox="0 0 {{ finalyear | minus: yearoffset | plus: majortick | times: stretch }} {{ people.size | plus: 1 | times: yspacing | plus: 5 }}" xmlns="http://www.w3.org/2000/svg">
{% assign i = 0 %}
{% for year in (yearoffset..finalyear)%}
	{% assign year5 = year | modulo: 5 %}
	{% if year5 == 0 %}
		{% assign tick = majortick %}
		<text x="{{ fontsize | divided_by: 4.0 | divided_by: stretch | plus: tick | plus: year | minus: yearoffset | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{{ year }}</text>
	{% else %}
		{% assign tick = minortick %}
	{% endif %}
	<rect x="{{ year | minus: yearoffset | times: stretch }}" y="0" width="{{ tick | times: stretch }}" height="{{ yheight }}" fill="black" />
{% endfor %}
{% assign i = i | plus: 1 %}
{% for member in people %}
{% assign tenures = member.startdate.size | minus: 1 %}
	{% for tenure in (0..tenures) %}
		{% assign startyear = member.startdate[tenure] | date: "%Y" | minus: yearoffset %}
		{% assign startmonth = member.startdate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
		{% assign start = startyear | plus: startmonth %}
		{% if member.enddate[tenure] %}
			{% assign endyear = member.enddate[tenure] | date: "%Y" | minus: yearoffset %}
			{% assign endmonth = member.enddate[tenure] | date: "%m" | minus: 1 | divided_by: 12.0 %}
			{% assign end = endyear | plus: endmonth %}
		{% else %}
			{% assign endyear = "now" | date: "%Y" | minus: yearoffset %}
			{% assign endmonth = "now" | date: "%m" | minus: 1 | divided_by: 12.0 %}
			{% assign end = endyear | plus: endmonth %}
		{% endif %}
		{% assign duration = end | minus: start %}
    {% if duration < 0.083 %} # For plotting purposes, minimum duration is a month
  		{% assign duration = 10 %}
    {% endif %}
    <!-- {% if member.timeline_group %} # Assign timeline color specifically from profile, otherwise from position
      {% assign position = member.timeline_group | downcase %}
		{% elsif member.timeline_positions %} #all search strings in following section must be lowercase or it will not find matches
			{% assign position = member.timeline_positions[tenure] | downcase %}
		{% else %}
			{% assign position = member.position | downcase %}
		{% endif %} -->
    {% assign position = member.position | downcase %}
		{% if position contains "Principal Investigator" %}
			{% assign color = "red" %}
		{% elsif position contains "Ph.D. Student" %}
			{% assign color = "darkorange" %}
		{% elsif position contains "Master Student" %}
			{% assign color = "gold" %}
		{% elsif position contains "Undergraduate Intern" %}
			{% assign color = "green" %}
		{% elsif position contains "Visiting Researcher" %}
			{% assign color = "turquoise" %}
		{% else %}
			{% assign color = "purple" %}
		{% endif %}

		<rect x="{{ start | times: stretch }}" y="{{ i | times: yspacing }}" width="{{ duration | times: stretch }}" height="{{ yheight }}" fill="{{ color }}" />
		{% if tenure == 0 %}
		    <text text-anchor="end" x="{{ fontsize | divided_by: -4.0 | divided_by: stretch | plus: start | times: stretch }}" y="{{ i | times: yspacing | plus: fontsize }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">{% if member.timeline_name %}{{ member.timeline_name }}{% else %}{{ member.name | split: " " | first }}{% endif %}</text>
		{% endif %}
	{% endfor %}
{% assign i = i | plus: 1 %}
{% endfor %}

{% assign legendn = 7 %}
{% assign fontsize = 14 %}
{% assign xposition = 10 %}
{% assign yposition = i | times: yspacing %}
{% assign yposition = legendn | plus: 0.5 | times: legendboxspacing | times: -1 | plus: yposition %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="red" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Principal investigator</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="darkorange" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Ph.D. Student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="gold" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Master Student</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="green" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Undergraduate Intern</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="turquoise" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Visiting Researcher</text>
{% assign yposition = yposition | plus: legendboxspacing %}
<!-- <rect x="{{ xposition }}" y="{{ yposition }}" width="{{ legendboxsize }}" height="{{ legendboxsize }}" fill="purple" />
<text x="{{ fontsize | times: 0.25 | plus: legendboxsize | plus: xposition }}" y="{{ fontsize | times: 0.75 | plus: legendboxsize | times: 0.5 | plus: yposition }}" font-family="sans-serif" font-size="{{ fontsize }}" stroke="black">Visitor</text> -->
</svg>
</div>
{% endcomment %}