{% include header.html %}
<div class="container px-2 max-width: 100%">
    <!-- <img class="img-fluid mx-auto d-block" src="/static/img/logo/jf_aa_logo.jpg" alt="Fraser at UCSF, in molecular form"> -->
    <div class="row">
        <div class="col-sm-8">
    	    <!-- <div class="jumbotron h-100"> -->
                <!-- 색 변경은 static/css/bootstrap.min.css 에서 jumbotron의 backgraound color 수정 -->
        	    {{ content }}
            <!-- </div> -->
        </div>
        <div class="col">
            <div class="jumbotron h-100">
            {% include contact_sidebar.html %}
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
