{% include header.html %}

<div class="container px-2 max-width: 100%">
    <div class="row">
        <div class="col">
            <div class="col-sm-8">
                <img class="img-fluid mx-auto d-block" src="/static/img/logo/website_front.jpg" alt="Examples of work">
            </div>
    	    <div class="jumbotron jumbotron-fluid">
        	    {{ content }}
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col">
            {% include sidebar.html %}
        </div>
    </div> 
</div>

{% include footer.html %}
