{% include header.html %}

<img class="img-responsive center-block" src="/static/img/members/fraser_lab_illustrated.png" title="This wonderful illustration was courtesy of Jennifer Li" alt="Lab Group Illustration (credit Jennifer Li)">
<div class="row-fluid">
    <div class="col-sm-8">
        {{ content }}
    </div>
    <div class="col-sm-4">
        {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    </div>
</div>

{% include footer.html %}
