{% include header.html %}
<div>
   <img class="img-fluid" src="/static/img/members/drawings/members/current_members.webp" title="This wonderful illustration was courtesy of Jennifer Li" alt="Illustration of the current Fraser lab members, drawn by Jennifer Li" width="2802" height="1100" loading="eager" decoding="async" fetchpriority="high">
   <div class="row">
       <div class="col-sm-9">
           <br>
           {{ content }}
    </div>
    <div class="col-sm-3 smalltxt">
        <br>
        {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    </div>
</div>
<br>
<img class="img-fluid" src="/static/img/members/drawings/alumni/recent_alumni.jpg" alt="Illustration of recent Fraser lab alumni" loading="lazy" decoding="async">
</div>
{% include footer.html %}
