{% include header.html %}
<div id = "{{page.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-3">
        <img class="img-fluid" src="{{page.image}}" {% if page.altimage %} onmouseover="this.src='{{page.altimage}}';" onmouseout="this.src='{{page.image}}';" {% endif %} alt="{{page.name}}"; width="265"; height="365"><br>
        {% if page.position == "Principal Investigator" %}
          <strong>{{page.name}}, Ph.D.</strong> <br>
          {{ page.kr_name }} <br>
        {% else %}
          <strong>{{page.name}}</strong>
          / {{ page.kr_name }} <br>
        {% endif %}
          
        {% if page.pronouns %}
          <em>{{page.pronouns}}</em> <br>
        {% endif %}
        {{page.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
        <em><a href="mailto:{{page.email}}">{{page.email}}</a></em> <br>
        {% if page.website %}
          <a style="overflow-wrap: break-word;" href= "{{page.website}}">{{page.website}}</a> <br>
        {% endif %}
        {% if page.orcid %}
          <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
          <a href="http://orcid.org/{{page.orcid}}"> {{page.orcid}}</a> <br>
        {% endif %}
        {% if page.linkedin %}
          <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
          <a href= "http://www.linkedin.com/in/{{page.linkedin}}"> {{page.linkedin}} </a> <br>
        {% endif %}
        {% if page.researchgate %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/researchGate_logo.svg"></a>
                  <a href="https://www.researchgate.net/profile/{{page.researchgate}}"> {% if page.timeline_name %}{{ page.timeline_name }}{% else %}{{ page.name | split: " " | first }}{% endif %}'s ResearchGate</a> <br>
                {% endif %}
        {% if page.UCSF %}
          <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/logo/ucsf_logo_black.svg"></a>
          <a href= "http://profiles.ucsf.edu/{{page.UCSF}}"> Profile </a> <br>
        {% endif %}
        {% if page.scholar %}
          <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
          <a href= "http://scholar.google.com/citations?user={{page.scholar}}"> {% if page.timeline_name %}{{ page.timeline_name }}{% else %}{{ page.name | split: " " | first }}{% endif %}'s Citations </a> <br>
        {% endif %}
        {% if page.twitter %}
          <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
          <a href= "http://twitter.com/{{page.twitter}}"> @{{page.twitter}} </a> <br>
        {% endif %}
        {% if page.bsky %}
          <a href="https://bsky.app/"><img class="inline-bloc mem-icon" src="/static/img/logo/bsky_logo.svg"></a>
          <a href= "https://bsky.app/profile/{{page.bsky}}"> {{page.bsky}} </a> <br>
        {% endif %}
        {% if page.github %}
          <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
          <a href= "http://github.com/{{page.github}}"> {{page.github}} </a> <br>
        {% endif %}
    </div>
    <div class="col-sm-9">
       <h4>Description</h4>
        {{page.description | markdownify}}
    

        {% assign dom_int = "International|Domestic" | split: "|" %}
        {% assign paper_type = "Conference Paper|Journal Paper" | split: "|" %}

        {% assign sorted = site.publications | sort: "pub_date" | reverse %}
        
        {% assign myPubs = "" | split: "" %}
        {% for pub in sorted %}
          {% if pub.authors contains page.name %}
            {% assign myPubs = myPubs | push: pub %}
          {% endif %}
        {% endfor %}

        {% if myPubs.size > 0 %}
          <hr>
          <h4>Publications</h4>
        {% endif %}

        {% for domInt in dom_int %}
          {% for type in paper_type %}
            {% assign filtered = "" | split: "" %}
            {% for pubs in myPubs %}
              {% if pubs.domestic_or_international == domInt and pubs.type == type %}
                {% assign filtered = filtered | push: pubs %}
              {% endif %}
            {% endfor %}
            {% if filtered.size > 0 %}

              <h5>{{domInt}} {{type}}</h5>
              <ol | reversed>
              {% for publication in filtered %}
                {% if publication.authors contains page.name %}
                
                <li>
                    <b>
                      <a href="{{ publication.url }}">{{ publication.title }}</a>
                      {% if publication.domestic_or_international contains "Domestic" %}
                        / {{ publication.krtitle }}
                      {% endif %}
                    </b>
                  <br>
                    {{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}
                  <br>
                    {% assign pub = publication.pubs | last %}
                    <i>{{ pub.name }}</i> <b>{{ pub.state }}</b>
                    {% if pub.doi %}
                      &emsp; <a href="https://doi.org/{{ pub.doi }}" title = "DOI: {{pub.doi}} (opens in new tab)" target="_blank">[Online]</a>
                    {% endif %}
                    {% if pub.pdf %}
                      <a href="{{pub.pdf}}" title = "PDF for {{publication.title}} (opens in new tab)" target="_blank">[PDF]</a>
                    {% endif %}
                </li>

                {% endif %}
              {% endfor %}
            </ol>
            
              {% endif %}		
          {% endfor %}
        {% endfor %}

        <hr>
    
        <div class="col-sm-12 col-md-12">
          {{ content }}
        </div>
  </div>

</div>
{% include footer.html %}
