{% include header.html %}
<div class="container">
   <img class="img-fluid" src="/static/img/members/drawings/members/current_members.png" title="This wonderful illustration was courtesy of Jennifer Li" alt="Lab Group Illustration (credit Jennifer Li)">
   <div class="row">
       <div class="col-sm-9">
           <br>
           {{ content }}
    </div>
    <div class="col-sm-3 smalltxt">
        <br>
        {% capture sidebar %}{% include alumni_sidebar.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    </div>
</div>
<br>
<img class="img-fluid" src="/static/img/members/drawings/alumni/recent_alumni.png" alt="We miss our alumni!">
</div>
{% include footer.html %}
