{% include header.html %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class = "page header"><h1>{{ page.title }}</h1></div>
            <p class="author">
              {% assign author_slug = page.author | slugify: "raw" %}
              <span class="author"><a href="/authors/{{ author_slug }}/">{{page.author}}</a></span><br>
              <span class="date"><em>{{ page.date | date_to_long_string }}</em></span>
              {% if page.tags.size > 0 %}
              <br>tags:
              {% for tag in page.tags %}
              {% assign tag_slug = tag | slugify: "raw" %}
              <a class="tag-link" href="{{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}" rel="category tag">
                #{{ tag }}
              </a>
              {% endfor %}
              {% endif %}
            </p>
                {{ content }}
        </div>
        <div class="col-sm-4 col-md-3">
            {% include post_sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
