---
title: Fraser Lab Pets
layout: pets
group: pets
---

<h1>Fraser Lab Pets</h1>

{% for pet in site.pets %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{pet.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{pet.image}}" {% if pet.altimage %} onmouseover="this.src='{{pet.altimage}}';" onmouseout="this.src='{{pet.image}}';" {% endif %} alt="{{pet.name}}"; width="365"; height="365"><br>
                <strong>{{pet.name}}</strong> <br>
                Human: <strong>{{pet.human | markdownify | remove: '<p>' | remove: '</p>'}}</strong><br>
                {% if pet.adoptiondate %}
                  <em>Adopted on: {{pet.adoptiondate}}</em><br>
                {% endif %}
                {% if pet.age %}
                  <em>Age: {{pet.age}}</em> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{pet.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>
