    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/cgenomicslab/cgenomicslab.github.io" target="_blank">GitHub</a>.</p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>
