---
title: Publications from the MIC Lab
layout: default
group: publications
---
<!-- <div style="max-width: 800px; margin: auto;"> -->

<h1>Publications</h1>

<div class="container-fluid">

{% assign dom_int = "International|Domestic" | split: "|" %}
{% assign paper_type = "Journal Paper|Conference Paper|Patent" | split: "|" %}

{% assign names = "Preprint|Papers Under Review|International"}
<hr>

<br>
<h4>Quick Links</h4>

<li>
	{% assign filtered = "" | split: "" %}
	{% for pubs in site.publications %}
		{% assign pub = pubs.pubs | last %}
		{% if pub.name contains "rxiv" %}
			{% assign filtered = filtered | push: pubs %}
		{% endif %}
	{% endfor %}

	<a href="#Preprint"><b>Preprint</b> ({{filtered.size}})</a>
</li>

<li>
	{% assign filtered = "" | split: "" %}
	{% for pubs in site.publications %}
		{% assign pub = pubs.pubs | last %}
		{% if pub.state contains "submitted" or pub.state contains "accepted" %}
			{% assign filtered = filtered | push: pubs %}
		{% endif %}
	{% endfor %}

	<a href="#Papers Under Review"><b>Papers Under Review</b> ({{filtered.size}})</a>
</li>

{% for domInt in dom_int %}
	{% for type in paper_type %}
		{% assign filtered = "" | split: "" %}
		{% for pubs in site.publications %}
			{% if pubs.domestic_or_international == domInt and pubs.type == type %}
				{% if pubs.authors contains "Kyunghwan Choi" %}
					{% assign pub = pubs.pubs | last %}
					{% if pub.state contains "published" %}
						{% assign filtered = filtered | push: pubs %}	
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if filtered.size > 0 %}
			<li>
				<a href="#{{domInt}} {{ type }}"><b>{{domInt}} {{ type }}</b> ({{filtered.size}})
				</a>
			</li>
		{% endif %}		
	{% endfor %}
{% endfor %}
<hr>
<br>

{% for domInt in dom_int %}
	
	{% for type in paper_type %}

		{% assign filtered = "" | split: "" %}
		{% for pubs in site.publications %}
			{% if pubs.domestic_or_international == domInt and pubs.type == type %}
				{% if pubs.authors contains "Kyunghwan Choi" %}
					{% assign filtered = filtered | push: pubs %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if filtered.size > 0 %}
			
			{% assign name = domInt | append: " " | append: type %}

			<div id="{{ name }}">
			<h4>{{ name }}</h4>

				{% include pub.html
					name=name
					filtered=filtered %}

			</div>

		{% endif %}
		
	{% endfor %}
{% endfor %}

<div id="{{ name }}">
	<h4>Master's Theses </h4>



</div>


</div>
