---
Title: Publications from the Fraser Lab
layout: default
group: publications
---

<h1>Publications</h1>
<ul>
{% for publication in site.data.publications | sort: "date" %}
<hr>
<li>{{ publication.citation | markdownify }}
<div class="row-fluid">
	<div class="col-sm-6">
		<img class = "img-responsive" src = "{{publication.image}}" alt = "Key Figure">
	</div>
	<div class="col-sm-6">
		<ul>
			<strong>Access the paper</strong>
			<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a></li>
			<li>PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{publication.pmcid}}" alt = "pubmed central link: {{publication.pmcid}}"> {{publication.pmcid}}</a></li>
			<li><a href="{{publication.pdf}}" alt = "PDF"> Full Text</a></li>
			<strong>Additional Links</strong>
			{% for link in publication.links %}
			<li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
</li>
{% endfor %}
</ul>
